// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$brainfree-primary: mat.define-palette(mat.$indigo-palette);
$brainfree-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$brainfree-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$brainfree-theme: mat.define-light-theme((
  color: (
    primary: $brainfree-primary,
    accent: $brainfree-accent,
    warn: $brainfree-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($brainfree-theme);


html, body {
  height: 100%;
  font-size: 16px;
}

body {
  font-family: "Source Code Pro", serif;
  font-style: normal;
  font-weight: normal;
  margin: 0;
  padding: 0;
  min-width: 250px;
  min-height: 250px;
}

* {
  box-sizing: border-box;
}

