/*color*/
$primary-color: #0b2828;
$second-color: #37475a;
$hover-color: orange;

/*manipulation*/
$shadow: 10px 6px 6px #756f6f;

mat-toolbar {
  background: $primary-color;
  color: white;
}

.company-name {
  font-size: 30px;
}

mat-sidenav {
  margin: 16px;
  width: 200px;
  border-right: none;
  background: $primary-color;
  color: white;
  border-radius: 10px;
  padding: 16px;
  text-align: center;
}

.name {
  margin-top: 8px;
  font-weight: bold;
  font-size: 1.6rem;
}

mat-divider {
  margin-top: 16px;
  margin-bottom: 16px;
  background-color: $second-color;
}

mat-sidenav-content {
  width: 100%;
  height: 100%;
  background-color: whitesmoke;
}

.isOpen .content {
  margin-left: 2%;
}

mat-sidenav-container {
  height: calc(100vh - 65px);
}

.menu-button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 1.4rem;

  mat-icon {
    margin-right: 8px;
  }
}

.menu-button:hover {
  background-color: $hover-color;
}
